.social{
    margin: 0px;
    height: 40px;
    background-color: black;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.social > a{
    margin: 5px;
    padding: 5px;
    height: 20px;
    width: 20px;
    color: white;
    transition-property: transform;
    transition-duration: 1s;
}

.social > a:hover{
    transform: scale(1.5);
}

h1{
    font-family: 'Chango', cursive;
    text-align: center;
    margin: 0px;
}

h3{
    margin-top: 0px;
    font-family: 'Mate SC', serif;
    text-align: center;
}

.navbar ul{
    background-color: rgb(0, 0, 0, 0.8);
    /* position: fixed; */
    display: flex;
    justify-content: center;
    margin-bottom: 0px;

}

.navbar li{
    margin: 10px;
    list-style: none;
    /* display: inline; */
}

.navbar li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    border: 1px solid none;
    transition-property: border;
    transition-duration: 10s;
}

.navbar li a:hover{
    border: 1px solid white;
}

.bg{
    display: flex;
    /* flex-direction: column-reverse; */
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 400px;
    margin: 0px;
    background-image: url('https://images.unsplash.com/photo-1621570359159-72e496ab7d7b?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80');
}

.bg a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    border: 1px solid white;
    padding: 13px;
    border-radius: 15px;
    transition-property: background-color;
    transition-duration: 1s;
}

.bg a:hover{
    background-color: black;
}

header{
    background-color: grey;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 10px;
    margin: 10px;
    width: 30vw;
    height: 30vh;
}

.image{
    flex-basis: 40%;
}

.textinfo{
    font-size: 20px;
    padding-left: 20px;
}

.bottom{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.473);
}

.newsletter{
    padding: 10px;
    margin: 10px;
    padding-top:0px;
}

.bottom >h3{
    padding-top: 20px;
    padding-bottom: 0px;
}

.sometext{
    width: 50%;
    align-self: center;
}

@media only screen and (max-width: 411px) {
    .navbar li a{
        font-size: 10px;
    }
    img{
        width: 100vw;
    }
    .info{
        flex-direction: column;
    }
}.email {
	width: 70%;
}
#goal {
}
